.title {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 4em;
}

.center {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.card {
    padding: 1.5em 2em;
}

li {
    list-style-type: none;
}

body {
    background-color: #1a1a2e;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
