.title {
<<<<<<< HEAD
    font-family: "Luckiest Guy", sans-serif;
    font-size: 4em;
=======
    font-size: 3em;
    margin-bottom: 1em;
>>>>>>> 7afbc0fe224896f7eb56de2c7b5cda1a3108759a
}

.boardBg {
    background: rgb(23, 44, 63);
    background: linear-gradient(0deg, rgba(23, 44, 63, 1) 0%, rgba(53, 84, 112, 1) 50%, rgba(103, 139, 163, 1) 100%);
    border-radius: 20px;
    padding: 1em 3em;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}

.player {
    font-size: 2em;
    font-weight: 500;
}

.board {
    background-color: white;
    width: 100%;
    padding: 0.6em;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    background: rgb(23, 44, 63);
    background: linear-gradient(0deg, rgba(23, 44, 63, 1) 0%, rgba(53, 84, 112, 1) 50%, rgba(103, 139, 163, 1) 100%);
}

.grid-cell {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    height: 10em;
}

.grid-cell:hover {
    background-color: #d3d3d3;
}

.boardRow {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

img {
    height: 100%;
}

li {
    list-style-type: none;
}

body {
    background-color: #1a1a2e;
    color: white;
    font-family: 'Orbitron', sans-serif;
<<<<<<< HEAD
=======
}

.nav-link {
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.nav-link:hover {
    background-color: #483796b7;
    transform: scale(1.05);
>>>>>>> 7afbc0fe224896f7eb56de2c7b5cda1a3108759a
}